@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap');

html {
  height: 100%;
  width: 100%; 
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  background-color: #333;
  color: #f2f2f2;
}

#root {
  height: 100%; 
}

.main {
  text-align: center;
  height: 100%;
  min-height: 100%;
  padding: 0 0 100px;
  position: relative; 
}

.container {
  max-width: 900px;
  width: 80%;
  min-height: 480px;
}

.footer {
  background-image: url('images/footer-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; 
  background-color: #317771;
  border-top: 5px solid #773271;
  min-height: 200px;
  padding: 40px;
  font-size: 20px;
  text-align: center;
  align-items: center;
}

.footer .row {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 40px; 
  text-align: center;
}

.footer .col {
  padding: 40px; 
}

.footer .col div {
  text-align: left;
}

.footer h3 {
  text-align: left;
  font-size: 22px;
}

.footer .links li {
  text-align: left;
  list-style: none;
  text-decoration: none;
  padding-bottom: 10px;
  line-height: 100%;
}
.footer .links li a :visited {
  color: #317771;
  text-decoration: none;
}

.footer .links ul {
  margin: 0;
  padding: 0;
}

.footer .links a {
  /* text-decoration: underline; */
  color: #d5cbd9;
  font-size: 16px;
}

.footer  a :visited {
  color: #d5cbd9;
}

.footer a:hover {
  color:  #09d3ac;
  text-decoration: underline;
}

.footer .donation {
  margin: 0 auto;
  text-align: center;
}

.kofi {
  background-color: #f2f2f2;
  max-width: 180px;
  max-height: 80px;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
  text-align: center;
  align-items: center;
  font-size: 17px;

  margin: 0 auto; 
}

.kofi img {
  margin: 0;
  padding: 0px 10px 0px 0px;
}

.kofi a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #773271;
}

.donate-crypto { 
  text-align: left;
  padding: 20px;
  max-width: 350px;
  margin-top: 20px;
  font-size: 14px;
  background-color: #425460;
  border-radius: 10px;
  margin: 20px auto;
}

.donate-crypto h3 {
  font-size: 16px;
  font-weight: 600;
}

.donate-crypto p {
  padding: 2px 0px 0px 0px;
  margin: 0;
}

.donate-crypto a {
  color: #a35cc1;
  text-decoration: none;
}

.home-cover {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  background: url('images/wayfarer_index_cover.jpg');
  background-size: cover;
  border-bottom: 5px solid #a35cc1;
  -webkit-box-shadow: 3px 3px 20px 0px rgba(0,0,0,0.05);
  -moz-box-shadow: 3px 3px 20px 0px rgba(0,0,0,0.05);
  box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.05);
}

.app-logo {
  height: 40vmin;
  max-width: 400px;
  min-width: 200px;
  margin: 0 auto;
  width: 80%;
  height: auto;
  padding-top: 100px;
}

.app-logo img {
  width: 100%;
  height: auto; 
  position: relative;
  bottom: 20px;
}

.app-title { 
  font-weight: 300;
  /* color: #4a3853; */
  color: #d5cbd9;
  font-size: 3em;
  margin: 60px 0px 30px 0px ;
}

a {
  /* text-decoration: underline; */
}

.top-credits {
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
  text-align: right; 
  text-shadow: 2px 5px 5px 5px rgba(0,0,0,0.5);
  margin-right: 20px;
}

.top-credits a {
  color: #fff;
  font-weight: 600;
}

.link {
  color: #09d3ac;
}

.inactive {
  display: none;
  visibility: hidden;
}

.search-bar {
  margin: auto;
  width: 100%;
  position: relative;
  z-index: 1;
  margin-top: 20px;
}

.search-bar input {
  background-color: rgb(72, 72, 72);
  font-size: 1.8em;
  font-weight: 300;
  color: #d5cbd9;
  padding: 20px 40px;
  width: 100%;
  -webkit-box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  border-radius: 20px;
  border: none; 
}

.search-grid {
  width: 100%;
  text-align: left;
  margin-top: -20px;
}

.search-grid ul {
  display: block;
  width: 100%;
  padding: 0px;
  position: absolute;
  z-index: 0; 
  margin-bottom: 80px;
}

.search-grid li {
  position: relative;
  background-color: rgb(72, 72, 72);
  width: inherit;
  z-index: 2;
  cursor: pointer;
  border-top: none;
  border-bottom: none;
  padding-left: 40px;
}

.search-grid li:first-child {
  padding-top: 15px;
}

.search-grid li:last-child {
  border-radius: 0px 0px 20px 20px !important;
  -webkit-box-shadow: 3px 3px 20px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 3px 3px 20px 0px rgba(0,0,0,0.25);
  box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.05);
}

.search-grid li:hover {
  background-color:  #666;
}

.search-grid li.active {
  background-color:  #555;
  border: none;
  outline: none;
}

.search-grid button {
  margin-right: 10px;
  color: #dcd3e0;
  border-color: rgb(132, 128, 135);
  border-radius: none !important;
}

.search-grid button:hover {
  background-color: #773271;
  border-color:   #773271;
}

.results {
  margin: 0 auto;
  margin-top: 40px;
  position: relative;
  z-index: 0;
  max-width: 900px;
  text-align: left;
}

.results .card {
  -webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.05);
  -moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.05);
  box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.05);
  background-color: rgb(60, 60, 60);
  padding: 30px;
  color: #f2f2f2;
}


.results h3, h4, h5, h6 {
  font-weight: 300;
}

.results .results-label {
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 0px;
}

.results .tags {
  font-weight: 600;
  font-size: 1.4rem;
  color: #a35cc1;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.results-title {
  padding-bottom: 10px;
  color: #333333;
}

.results-title span {
  color: blueviolet;
}

.verdict {
  margin: 20px 0px;
  padding: 0;
  text-align: center;
}

.verdict {
    width: 100%; 
    background-color: rgb(60, 60, 60);
    border: none;
    padding: 20px;
}

.verdict p {
  padding-bottom: 5px;
  padding-top: 15px;
  font-size: 1.2rem;
  margin: 0 auto;
  width: 90%;
}

.verdict .isvalid {
  font-size: 1.5rem;
  font-weight: 300;
  padding-top: 0px;
  border-bottom: #666;
  padding-bottom: 5px;
}

.verdict-text {
  font-size: 3rem;
  font-weight: 900;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  padding: 5px 15px 5px 15px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 20px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 3px 3px 20px 0px rgba(0,0,0,0.25);
  box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.05);
}

.verdict .subjective-summary {
  font-weight: 300;
  font-size: 1.2rem;
}

.results-source {
  text-align: left;
  margin-bottom: 80px;
  padding: 20px;
}

.results-source .source-name {
  border-bottom: 1px solid #666;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.results-source .question {
  font-weight: 600;
  font-size: 1.2em;
  padding-bottom: 10px;
  line-height: 1.6;
}

.results-source p { 
  font-size: 1.2rem;
  font-weight: 300;
}

.verdict-valid .verdict-text {
  background-color:#0bac69;
  color: #fff;
}

.verdict-maybe .verdict-text {
  background-color:#eaab2f;
  color: #fff;
}

.verdict-invalid .verdict-text {
  background-color:#d84b27;
  color: #fff;
}

@media (max-width: 600px) 
{
  .app-title {
    font-size: 2.5rem;
  }

  .search-bar input {
    font-size: 1.5rem;
  }

  .top-credits {
    text-align: center; 
    margin-right: 0px;
  }
  .container {
    width: 100%;
  }
}

